*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*{
  scroll-behavior: smooth;
}

body {
  background-image: url("../public/images/register.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 430px;
}

.background {
  width: 90%;
  max-width: 430px;
  height: auto;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

form {
  width: 1300%;
  max-width: 500px;
  height: 700px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 28%;
  border-radius: 5px;
  backdrop-filter: blur(7px);
  border: 2px solid white;
  box-shadow: 0 0 40px rgba(10, 5, 48, 0.6);
  padding: 40px 30px;
}

form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
}

label {
  display: block;
  margin-top: 45px;
  font-size: 16px;
  font-weight: 500;
}

input {
  cursor: pointer;
  display: block;
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 70px;
  width: 100%;
  background-color: #1E88E5;
  color: white;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.go-register {
  position: relative;
  text-align: center;
}

.gmail-dev {
  margin-top: 50px;
}

.gmail-dev a {
  text-decoration: none;
  color: #0759a1;
  cursor: pointer;
}

.or {
  margin-top: 50px;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.forgotText{
  text-align: center;
}

.goLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Responsiv dizayn */
@media (max-width: 768px) {
  .background {
    width: 95%;
    height: auto;
  }
  .background .shape {
    height: 100px;
    width: 100px;
  }
  form {
    width: 95%;
    padding: 30px 20px;
  }
  form h3 {
    font-size: 24px;
  }
  label {
    font-size: 14px;
  }
  input {
    height: 40px;
    font-size: 13px;
  }
  button {
    padding: 10px 0;
    font-size: 14px;
  }
}
